* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 5vh 85vh 10vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #212121;
}

header .logo {
  align-self: center;
  padding-left: 150px;
  color: white;
  font-weight: bold;
}

header .menu {
  align-self: center;
  padding-right: 150px;
}

header .menu a {
  text-decoration: none;
  margin-right: 25px;
  color: white;
  font-weight: bold;
}

header .menu a:hover {
  background-color: #f9a725;
  border-radius: 15px;
  padding: 5px;
}

main {
  grid-area: main;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .conteudo {
  width: 80%;
  height: 40%;
  display: flex;
}

main .titulo {
  width: 50%;
  height: 100%;
  border-right: 1px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

main .entrada-dados {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .entrada-dados input {
  height: 30px;
  width: 250px;
  margin-right: 10px;
}

main .entrada-dados button {
  height: 30px;
  width: 50px;
}

footer {
  grid-area: footer;
  background: #212121;
  font-size: 24px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}